*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
.cantainer{
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  border-bottom:1px solid  grey;
}
.logo img{
  height: 24px;
}
.search-icon i{
  display: none;
}
.search-bar{
  flex:1;
  margin: 0 15px;
}
.search-bar input{
  width: 95%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(114, 114, 114);
}
.nav-link{
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 20px;

}
.nav-link li{
  list-style: none;
  padding:0px 25px;
}
.nav-link li a{
  font-size: 15px;
  word-spacing: none;
  color: rgb(129, 129, 129);
  text-decoration: none;
  font-weight: 500;
}
 i{
  /* background-color: black; */
  color:#9f2089;
  text-decoration: none;
  font-weight: 500;
  line-height: 2rem;
  font-size: 16px;
}
.nav-link i{
  margin-right: 3px;
}
.nav-link a{
  color:rgb(62, 61, 61);
  text-decoration: none;
  font-weight: 500;
  line-height: 2rem;
  font-size: 15px;
}
.nav-link img{
  color: rgb(125, 125, 125);
}
.links ul{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px 0px 10px 0px ;
  border-bottom: 1px solid grey;
}
.links li {
  list-style: none;
  margin: auto;
}
.links li a{
text-decoration: none;
color: rgb(123, 123, 123);
font-size: 17px;
font-weight: 600;
}
.links li a:hover{
  color: #9f2089;
  font-weight: 600;
  border-bottom: 2px solid #9f2089;
}
.hero{
  height: 50vh;
  background-image: url(Images/1746425994914.webp);
  background-repeat: no-repeat;
  background-size: max(1000px,100vw);
}
.hero h3{
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:500;
  color: white;
  text-align: end;
  padding: 80px 60px;
}
.hero button{
  padding: 20px 60px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: white;
  border: 1px solid #9f2089;
  border-radius: 8px;
  float: right;
  margin: -50px 60px;
}

.delivery{
  background-color: #fdeefa;
  padding: 10px;

}
.refund{
  height: 40px;
  width: 90%;
  display: flex;
  padding: 8px 0;
  justify-content: center;
  border-radius: 8px;
  background-color: white;
  margin: auto;
}
.refund p{
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 2px;
  color: black;
  line-height: 0.2rem;
  padding-left: 40px;
  margin-top: -20px;
}
.refund a{
  text-decoration: none;
  line-height: 0rem;

}
.deli , .cash{
  margin-right: 50px;
}
.grid-photo{
  height: 35vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 40px;
  transition: all 10s ;
  padding: 20px;
}
.grid-photo span:hover{
  transform: translatey(-10px) ;
}
.grid-photo p{
  font-size: 0.8rem;
  line-height: 2rem;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
/* Small Mobile */
@media (max-width: 480px) {
  body{
  background-color: #9f2009;
}
.cantainer{
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  border-bottom:1px solid  grey;
}
.logo img{
  height: 28px;
}
.search-icon i{
  display: none;
}
.search-bar{
  flex:1;
  margin: 0 15px;
}
.search-bar input{
  width: 95%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(114, 114, 114);
}
.nav-link{
  display: none;
  gap: 5px;
  align-items: center;
  margin-left: 20px;

}
.nav-link li{
  list-style: none;
  padding:0px 25px;
}
.nav-link li a{
  font-size: 15px;
  word-spacing: none;
  color: rgb(129, 129, 129);
  text-decoration: none;
  font-weight: 500;
}
 i{
  /* background-color: black; */
  color:#9f2089;
  text-decoration: none;
  font-weight: 500;
  line-height: 2rem;
  font-size: 16px;
}
.nav-link i{
  margin-right: 3px;
}
.nav-link a{
  color:rgb(62, 61, 61);
  text-decoration: none;
  font-weight: 500;
  line-height: 2rem;
  font-size: 15px;
}
.nav-link img{
  color: rgb(125, 125, 125);
}
.links ul{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 10px 0px 10px 0px ;
  border-bottom: 1px solid grey;
}
.links li {
  list-style: none;
  margin: auto;
}
.links li a{
text-decoration: none;
color: rgb(123, 123, 123);
font-size: 14px;
font-weight: 600;
}
.links li a:hover{
  color: #9f2089;
  font-weight: 600;
  border-bottom: 2px solid #9f2089;
}
.hero{
  height: 20vh;
  background-image: url(Images/1746425994914.webp);
  background-repeat: no-repeat;
  background-size: max(670px,100vw);
}
.hero h3{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:500;
  color: white;
  text-align: start;
  float: left;
  padding: 20px 17px;
}
.hero button{
  padding: 8px 15px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: white;
  border: 1px solid #9f2089;
  border-radius: 8px;
  float: left;
  margin: 70px -150px;
}
.delivery{
  background-color: #fdeefa;
  padding: 5px;

}
.refund{
  height: 35px;
  width: 90%;
  display: flex;
  padding: 5px 0;
  justify-content: center;
  border-radius: 8px;
  background-color: white;
  margin: auto;
}
.refund p{
  font-size: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 0px;
  color: black;
  line-height: 0.2rem;
  padding-left: 40px;
  margin-top: -20px;
}
.refund a{
  text-decoration: none;
  line-height: 0rem;

}
.deli , .cash{
  margin-right: 20px;
}
}

/* Medium Mobile */
@media (min-width: 481px) and (max-width: 576px) {
  body{
  background-color: #102089;
}
.nav-link{
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 20px;

}
.nav-link li{
  list-style: none;
  padding:0px 25px;
}
.hero{
  height: 30vh;
  background-image: url(Images/1746425994914.webp);
  background-repeat: no-repeat;
  background-size: max(950px,100vw);
}
.nav-link li a{
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  word-spacing: none;
  color: rgb(129, 129, 129);
  text-decoration: none;
  font-weight: 500;
}
 i{
  /* background-color: black; */
  color:#9f2089;
  text-decoration: none;
  font-weight: 500;
  line-height: 2rem;
  font-size: 13px;
}
.nav-link i{
  margin-right: 3px;
}
.nav-link a{
  color:rgb(62, 61, 61);
  text-decoration: none;
  font-weight: 500;
  line-height: 2rem;
  font-size: 12px;
}
.links ul{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px 0px 10px 0px ;
  border-bottom: 1px solid grey;
}
.links li {
  list-style: none;
  margin: auto;
}
.links li a{
text-decoration: none;
color: rgb(123, 123, 123);
font-size: 14px;
font-weight: 600;
}
.links li a:hover{
  color: #9f2089;
  font-weight: 600;
  border-bottom: 2px solid #9f2089;
}
.hero h3{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:500;
  color: white;
  text-align: start;
  float: left;
  padding: 10px 20px;
}
.hero button{
  padding: 10px 30px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: white;
  border: 1px solid #9f2089;
  border-radius: 8px;
  float: left;
  margin: 80px -220px;
}
.refund p{
  font-size: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 2px;
  color: black;
  line-height: 0.2rem;
  padding-left: 40px;
  margin-top: -20px;
}
}

/* Large Mobile */
@media (min-width: 577px) and (max-width: 767px) {
  body{
  background-color: #9f2000;
}
.hero{
  height: 30vh;
  background-image: url(Images/1746425994914.webp);
  background-repeat: no-repeat;
  background-size: max(950px,100vw);
}
.links ul{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px 0px 10px 0px ;
  border-bottom: 1px solid grey;
}
.links li {
  list-style: none;
  margin: auto;
}
.links li a{
text-decoration: none;
color: rgb(123, 123, 123);
font-size: 15px;
font-weight: 600;
}
.links li a:hover{
  color: #9f2089;
  font-weight: 600;
  border-bottom: 2px solid #9f2089;
}
.search-bar .search-icon i{
  display: flex;
  color:black;
  font-size: 50px;
}
  .search-bar{
  display: none;
  flex:1;
  margin: 0 15px;
} 
.search-bar input{
  display: none;
  width: 95%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(114, 114, 114);
}
.hero h3{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:500;
  color: white;
  text-align: start;
  float: left;
  padding: 10px 20px;
}
.hero button{
  padding: 10px 30px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: white;
  border: 1px solid #9f2089;
  border-radius: 8px;
  float: left;
  margin: 80px -220px;
}

}


/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  body{
  background-color: #9f89;
}
.hero{
  height: 30vh;
  background-image: url(Images/1746425994914.webp);
  background-repeat: no-repeat;
  background-size: max(950px,100vw);
}
.hero h3{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:500;
  color: white;
  text-align: end;
  padding: 80px 50px;
}
.hero button{
  padding: 15px 50px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: white;
  border: 1px solid #9f2089;
  border-radius: 8px;
  float: right;
  margin: -60px 50px;
}
.delivery{
  background-color: #fdeefa;
  padding: 10px;

}
.refund{
  height: 40px;
  width: 90%;
  display: flex;
  padding: 0px 0;
  justify-content: center;
  border-radius: 8px;
  background-color: white;
  margin: auto;
}
.refund p{
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 2px;
  color: black;
  line-height: 0.2rem;
  padding-left: 40px;
  margin-top: -20px;
}
.refund a{
  text-decoration: none;
  line-height: 0rem;

}
.deli , .cash{
  margin-right: 50px;
}
}

/* Small Laptop */
@media (min-width: 1025px) and (max-width: 1280px) {
  body{
  background-color: #7f2089;
}
.hero{
  height: 37vh;
  background-image: url(Images/1746425994914.webp);
  background-repeat: no-repeat;
  background-size: max(950px,100vw);
}
.hero h3{
  font-size: 2.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:500;
  color: white;
  text-align: end;
  padding: 80px 60px;
}
.hero button{
  padding: 18px 55px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: white;
  border: 1px solid #9f2089;
  border-radius: 8px;
  float: right;
  margin: -50px 60px;
}
}

/* Medium Laptop */
@media (min-width: 1281px) and (max-width: 1440px) {
  body{
  background-color: #9f8089;
}
.hero{
  height: 47vh;
  background-image: url(Images/1746425994914.webp);
  background-repeat: no-repeat;
  background-size: max(950px,100vw);
}
.delivery{
  background-color: #fdeefa;
  /* padding: 10px; */

}
.refund{
  /* height: 40px; */
  width: 90%;
  display: flex;
  padding: 8px 0;
  justify-content: center;
  border-radius: 8px;
  background-color: white;
  margin: auto;
}
.refund p{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 2px;
  color: black;
  line-height: 0.2rem;
  padding-left: 40px;
  margin-top: -20px;
}
.refund a{
  text-decoration: none;
  line-height: 0rem;

}
.deli , .cash{
  margin-right: 50px;
}
}

/* Desktop */
@media (min-width: 1441px) and (max-width: 1920px) {
  body{
  /* background-color: #9f2050; */
}
}

/* Ultra Wide */
@media (min-width: 1921px) {
body{
  /* background-color: #9f2089; */
}
}


